---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=location_key&location=waldorf,%20MD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 15 Oct 2022 22:15:29 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"waldorf,
        MD"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Waldorf","adminArea5Type":"City","adminArea4":"Charles
        County","adminArea4Type":"County","adminArea3":"MD","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041442","unknownInput":"","type":"s","latLng":{"lat":38.637545,"lng":-76.895271},"displayLatLng":{"lat":38.637545,"lng":-76.895271},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=location_key&type=map&size=225,160&locations=38.637545,-76.895271|marker-sm-50318A-1&scalebar=true&zoom=12&rand=393121990"}]}]}'
  recorded_at: Sat, 15 Oct 2022 22:15:29 GMT
recorded_with: VCR 6.1.0
