---
http_interactions:
- request:
    method: get
    uri: https://api.catalog.beer/location/nearby?latitude=39.738453&longitude=-104.984853&search_radius=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NTFhMmMyMjYtMTFmYy00NTNkLWJkZDItZTlkOTg3ZWQzZjU4Og==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"object":"list","url":"\/location\/nearby","has_more":false,"data":[{"location":{"id":"e12758af-e7c6-4a32-b044-aabb91bb4bb0","object":"location","name":"Vine
        Street Pub and Brewery","brewer_id":"e2e7cd0a-9973-4abe-81ea-7b04f91e634c","url":null,"country_code":"US","country_short_name":"United
        States of America","latitude":39.7434731,"longitude":-104.9619904,"telephone":3033882337,"address":{"address1":null,"address2":"1700
        Vine St","city":"Denver","sub_code":"US-CO","state_short":"CO","state_long":"Colorado","zip5":80206,"zip4":1120}},"distance":{"distance":1.3,"units":"miles"},"brewer":{"id":"e2e7cd0a-9973-4abe-81ea-7b04f91e634c","object":"brewer","name":"Mountain
        Sun Brewery","description":null,"short_description":null,"url":"http:\/\/www.mountainsunpub.com\/","cb_verified":true,"brewer_verified":false,"facebook_url":"https:\/\/www.facebook.com\/mountainsunpub","twitter_url":"https:\/\/twitter.com\/mountainsunpub","instagram_url":"https:\/\/www.instagram.com\/mountainsunpub\/"}},{"location":{"id":"17250c9f-08f8-49ec-a285-9924f4ca1cda","object":"location","name":"Denver","brewer_id":"200e1e9b-e073-42b6-92d4-e4bb26beedff","url":null,"country_code":"US","country_short_name":"United
        States of America","latitude":39.7602768,"longitude":-105.0039673,"telephone":3037291175,"address":{"address1":null,"address2":"2540
        19th St","city":"Denver","sub_code":"US-CO","state_short":"CO","state_long":"Colorado","zip5":802[...]
- request:
    method: get
    uri: https://api.catalog.beer/brewer/e2e7cd0a-9973-4abe-81ea-7b04f91e634c/beer?latitude&longitude&search_radius
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NTFhMmMyMjYtMTFmYy00NTNkLWJkZDItZTlkOTg3ZWQzZjU4Og==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"object":"list","url":"\/brewer\/e2e7cd0a-9973-4abe-81ea-7b04f91e634c\/beer","has_more":false,"brewer":{"id":"e2e7cd0a-9973-4abe-81ea-7b04f91e634c","object":"brewer","name":"Mountain
        Sun Brewery","description":null,"short_description":null,"url":"http:\/\/www.mountainsunpub.com\/","cb_verified":true,"brewer_verified":false,"facebook_url":"https:\/\/www.facebook.com\/mountainsunpub","twitter_url":"https:\/\/twitter.com\/mountainsunpub","instagram_url":"https:\/\/www.instagram.com\/mountainsunpub\/","last_modified":1519601958},"data":[{"id":"66d3d8ce-8130-45d3-b55d-0e5e1ee5ee10","name":"BLACK
        ARIA BALTIC PORTER","style":"PORTER"},{"id":"ee2d9de6-854d-4abe-b771-8f3015be107d","name":"BLACKBERRY
        OR RASPBERRY WHEAT","style":"American Wheat Beer"},{"id":"8d6ffec6-3897-47ae-87d4-2f552a2cb292","name":"Bryce
        you are fucking this up!","style":"Stop! Just Stop! Bryce!"},{"id":"9b340ca8-bcc5-46f2-8db1-c2e76e934c54","name":"COLORADO
        KIND","style":"American Extra Special Bitter"},{"id":"261fb855-0604-44ba-8b93-c2be6215389b","name":"FADEAWAY
        I.P.A.","style":"Westcoast IPA"},{"id":"3a8238b8-e00a-46c4-abbb-f0b0427abe91","name":"HEADYBRAH
        OKTOBERFEST","style":"Oktoberfest"},{"id":"ea331a49-f5cb-4686-bfb8-3ca4804275a7","name":"HOP
        VIVANT IMPERIAL I.P.A.","style":"Imperial IPA"},{"id":"4b8027c0-97d4-4324-905f-abae609076d6","name":"MEADOWS!
        BELGIAN PALE","style":"Belgian Pale Ale"},{"id":"04c4e7ab-722f-4e60-a447-4826f2c7b9fc","name":"PRIME
        TIME PILSNER","style":"PILSNER"},{"id":"10058e29-8ec3-4587-9be4-6079c1a2fe25","name":"STAR
        FRAME I.P.A.","style":"IPA"},{"id":"d5a5a6ef-4bc6-4744-b5f4-eac89ad94636","name":"STOKED
        OAK STOUT","style":"Stout"},{"id":"bbc2b6b2-0096-493e-81c6-4571aa27270e","name":"XXX
        PALE","style":"Pale Ale"}]}'
  recorded_at: Thu, 20 Oct 2022 21:41:44 GMT
[...]
- request:
    method: get
    uri: https://api.catalog.beer/beer/66d3d8ce-8130-45d3-b55d-0e5e1ee5ee10?latitude&longitude&search_radius
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NTFhMmMyMjYtMTFmYy00NTNkLWJkZDItZTlkOTg3ZWQzZjU4Og==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"66d3d8ce-8130-45d3-b55d-0e5e1ee5ee10","object":"beer","name":"BLACK
        ARIA BALTIC PORTER","style":"PORTER","description":"This classic beer style
        originates from the area surrounding the Baltic Sea and blends elements of
        English Porter with Russian Imperial Stout, but is fermented with lager yeast
        instead of ale yeast. Rich malt flavors of dark raisin and caramel meld with
        a righteous roastiness that has a pleasant lingering aftertaste.","abv":7.6,"ibu":null,"cb_verified":false,"brewer_verified":false,"last_modified":1666111786,"brewer":{"id":"e2e7cd0a-9973-4abe-81ea-7b04f91e634c","object":"brewer","name":"Mountain
        Sun Brewery","description":null,"short_description":null,"url":"http:\/\/www.mountainsunpub.com\/","cb_verified":true,"brewer_verified":false,"facebook_url":"https:\/\/www.facebook.com\/mountainsunpub","twitter_url":"https:\/\/twitter.com\/mountainsunpub","instagram_url":"https:\/\/www.instagram.com\/mountainsunpub\/","last_modified":1519601958}}'
  recorded_at: Thu, 20 Oct 2022 21:41:47 GMT
[...]
- request:
    method: get
    uri: https://api.catalog.beer/beer/bbc2b6b2-0096-493e-81c6-4571aa27270e?latitude&longitude&search_radius
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NTFhMmMyMjYtMTFmYy00NTNkLWJkZDItZTlkOTg3ZWQzZjU4Og==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"bbc2b6b2-0096-493e-81c6-4571aa27270e","object":"beer","name":"XXX
        PALE","style":"Pale Ale","description":"XXX is a Mountain Sun classic! A stronger,
        more intense version of a classic American Pale Ale, our Strong American Pale
        Ale boasts a prominent hop bitterness, but is balanced by a pleasant malt
        sweetness and a citrusy, piney hop aroma provided by American hops.","abv":7.6,"ibu":null,"cb_verified":false,"brewer_verified":false,"last_modified":1666111993,"brewer":{"id":"e2e7cd0a-9973-4abe-81ea-7b04f91e634c","object":"brewer","name":"Mountain
        Sun Brewery","description":null,"short_description":null,"url":"http:\/\/www.mountainsunpub.com\/","cb_verified":true,"brewer_verified":false,"facebook_url":"https:\/\/www.facebook.com\/mountainsunpub","twitter_url":"https:\/\/twitter.com\/mountainsunpub","instagram_url":"https:\/\/www.instagram.com\/mountainsunpub\/","last_modified":1519601958}}'
  recorded_at: Thu, 20 Oct 2022 21:41:58 GMT
recorded_with: VCR 6.1.0
