---
http_interactions:
- request:
    method: get
    uri: https://api.catalog.beer/location/nearby?latitude=39.738453&longitude=-104.984853&search_radius=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NTFhMmMyMjYtMTFmYy00NTNkLWJkZDItZTlkOTg3ZWQzZjU4Og==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"object":"list","url":"\/location\/nearby","has_more":false,"data":[{"location":{"id":"e12758af-e7c6-4a32-b044-aabb91bb4bb0","object":"location","name":"Vine
        Street Pub and Brewery","brewer_id":"e2e7cd0a-9973-4abe-81ea-7b04f91e634c","url":null,"country_code":"US","country_short_name":"United
        States of America","latitude":39.7434731,"longitude":-104.9619904,"telephone":3033882337,"address":{"address1":null,"address2":"1700
        Vine St","city":"Denver","sub_code":"US-CO","state_short":"CO","state_long":"Colorado","zip5":80206,"zip4":1120}},"distance":{"distance":1.3,"units":"miles"},"brewer":{"id":"e2e7cd0a-9973-4abe-81ea-7b04f91e634c","object":"brewer","name":"Mountain
        Sun Brewery","description":null,"short_description":null,"url":"http:\/\/www.mountainsunpub.com\/","cb_verified":true,"brewer_verified":false,"facebook_url":"https:\/\/www.facebook.com\/mountainsunpub","twitter_url":"https:\/\/twitter.com\/mountainsunpub","instagram_url":"https:\/\/www.instagram.com\/mountainsunpub\/"}},{"location":{"id":"17250c9f-08f8-49ec-a285-9924f4ca1cda","object":"location","name":"Denver","brewer_id":"200e1e9b-e073-42b6-92d4-e4bb26beedff","url":null,"country_code":"US","country_short_name":"United
        States of America","latitude":39.7602768,"longitude":-105.0039673,"telephone":3037291175,"address":{"address1":null,"address2":"2540
        19th St","city":"Denver","sub_code":"US-CO","state_short":"CO","state_long":"Colorado","zip5":802[...]
